<div class="gv-graphic___header">The 25 most shared articles about the UK election</div>
<div class="gv-graphic___subheader">Data based on Facebook shares from 17-April-26 May</div>

<div class="initial-view" id="closedView">

{{#sections}}

<div class="gv-graphic__item" id="{{{id}}}">
	<!-- <div class='gv-graphic__chart'>
		<div class="gv-graphic__chart-bar total"></div>

		<div class="gv-graphic__chart-bar pub" style="width:{{{pcVal}}}%"></div>
	</div> -->
	<div class='gv-graphic__chart'>
		<!-- <div class="gv-graphic__chart-bar total"></div> -->

		<div class="gv-graphic__chart-bar" style="width:{{{pcVal}}}%"></div>
	</div>
	<div class='gv-text-holder gv-big-number  '>{{{guNum}}}</div>

	<div class='gv-text-holder gv-pub-title'>{{{publisherName}}}</div>
	<div class='gv-text-holder gv-headline-text  '><a href="{{{url}}}"  target="_blank">

		{{{headline}}}
				<span class="inline-arrow-in-circle inline-icon " style="padding-left:3px;">
					 <svg width="12" height="12" viewBox="0 0 24 24" class="inline-arrow-in-circle__svg inline-icon__svg">
					<!--  <path class="rich-link__arrow-icon" d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0m.21 19l-.637-.668 4.888-6.326H4.996v-1.01h11.465l-4.888-6.333.637-.668L19 11.153v.685l-6.79 7.157" fill="#767676" fill-rule="evenodd"></path> -->

					 <path d="M0,11h19.9l-7.8-9.4l1-1L24,11.5v1L13.1,23.4l-1-1l7.8-9.4H0V11z"  fill="#767676" />

<!-- 
					 <circle cx="12" cy="12" r="11" fill="#DCDCDC"/>
					<g>
						<pathd="M4.1,11.3h13.1l-5.1-6.1l0.7-0.7l7.1,7.2v0.7l-7.1,7.2l-0.7-0.7l5.1-6.1H4.1V11.3z" fill="#767676" />
					</g> -->

					<!-- <path class="st0" d="M12,1C5.9,1,1,5.9,1,12s4.9,11,11,11s11-4.9,11-11S18.1,1,12,1z M12.7,19.5l-0.7-0.7l5.1-6.1H4.1v-1.4h13.1
	l-5.1-6.1l0.7-0.7l7.1,7.2v0.7L12.7,19.5z"  fill="#767676" /> -->

					</svg>


				</span>
          
				
        </a>
    </div>
	

	

</div>			

{{/sections}}


<div class='cta-button-holder' id='gvShowButton'>
		<div class='cta-button'>Show more</div>	
		
		<span class="inline-arrow-white-right inline-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="#FFF" d="M14.8,23.5l7.6-7.6l-0.7-0.7l-6.6,5.5v-14h-1.5v14l-6.6-5.5l-0.7,0.7l7.6,7.6H14.8"/></svg></span>

</div>	

</div>






<div class='cta-button-holder gv-graphic__hidden'  id='gvHideButton'>
		<div class='cta-button'>Show less</div>	
		
		<span class="inline-arrow-white-right inline-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path d="M13.9,6.7l-7.6,7.6L7,14.9l6.6-5.5v14h1.5v-14l6.6,5.5l0.7-0.7l-7.6-7.6H13.9" fill="#FFF"/></svg></span>

</div>	




</div>

<div class="logo-holder">
	
	<div class="logo-section logo-image"><image src='<%= path %>/assets/kaleidaLogo.jpg'/></div>
</div>

