@import "mq";
@import "palette";
@import "fonts";
@import "bower_components/guss-grid-system/_grid-system.scss";

$accent-color: $news-main-1;
$bar-one: $accent-color;
$bar-two: $accent-color;

$indy-color: #ec1c30;
$gu-color: $news-main-1;
$bbc-color: #ab140d;
$aav-color: #ffc60d;

// @font-face{font-family:'Guardian Sans Web';src:url("https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands6bol-webfont.woff2") format("woff2"),url("https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands6bol-webfont.woff") format("woff");font-weight:700;font-style:normal}@font-face{font-family:'Guardian Sans Web';src:url("https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands3reg-webfont.woff2") format("woff2"),url("https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands3reg-webfont.woff") format("woff");font-weight:400;font-style:normal}@font-face{font-family:'Guardian Sans Web';src:url("https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands1thi-webfont.woff2") format("woff2"),url("https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands1thi-webfont.woff") format("woff");font-weight:200;font-style:normal}.gvr-header{position:relative;color:white;background-size:cover;height:300px;overflow:hidden}@media (min-width: 620px){.gvr-header{height:600px}}.gvr-header__background{position:absolute;top:0;bottom:0;left:0;right:0}.gvr-header__background video{min-width:100%;min-height:100%;top:50%;left:50%;position:absolute;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%)}.gvr-header__inner{font-size:0;height:100%}.gvr-header__inner::before{content:"";display:inline-block;height:100%;vertical-align:middle}.gvr-header__text{display:inline-block;vertical-align:middle}@media (min-width: 46.25em){.gvr-header__text{margin-top:60px}}@media (min-width: 71.25em){.gvr-header__text{margin-top:0}}.gvr-header__g{margin:0}.gvr-header__g img{height:24px}@media (min-width: 46.25em){.gvr-header__g img{height:36px}}.gvr-header__title{font-family:'Guardian Sans Web';line-height:1;font-weight:200;font-size:42px;min-height:84px;margin:0}.gvr-header__title span{transition:500ms opacity}.gvr-header__title span.faded{opacity:0}@media (min-width: 46.25em){.gvr-header__title{font-size:75px;min-height:180px}}@media (min-width: 61.25em){.gvr-header__title{font-size:90px}}@media (min-width: 71.25em){.gvr-header__title{min-height:0}}.gvr-header__logo{position:absolute;top:20px;width:42px;right:10px}@media (min-width: 46.25em){.gvr-header__logo{right:20px;width:60px}}.gvr-vr{position:relative;height:100%}.gvr-vr__title,.gvr-vr__subtitle{font-family:'Guardian Sans Web';font-size:36px;line-height:1}@media (min-width: 46.25em){.gvr-vr__title,.gvr-vr__subtitle{font-size:42px}}@media (min-width: 71.25em){.gvr-vr__title,.gvr-vr__subtitle{font-size:48px}}@media (min-width: 71.25em){.gvr-vr__description{font-size:18px}}.gvr-vr__title{font-weight:bold;margin:0}.gvr-vr__subtitle{font-weight:200;margin:0}.gvr-vr__expandbtn{padding:0 18px 0 36px;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/icon_plus-white.svg");background-repeat:no-repeat;background-position:8px center;margin-top:24px}.gvr-vr__trailerbtn{background:#C34A85;padding:0 18px 0 42px;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/icon_play-white.svg");background-repeat:no-repeat;background-position:12px center;margin-top:24px}.gvr-vr__previewbtn{background:#C34A85;padding:0 18px 0 36px;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/icon_tap-white.svg");background-repeat:no-repeat;background-position:12px center;margin-top:6px;background-size:14px}.gvr-vr__description{margin-top:24px}.gvr-vr__title,.gvr-vr__subtitle,.gvr-vr__description{max-width:420px}@media (min-width: 71.25em){.gvr-vr__title,.gvr-vr__subtitle,.gvr-vr__description{max-width:620px}}.gvr-vr__extras{margin-top:60px}.gvr-vr__extras::after{content:"";display:block;clear:both}@media (min-width: 30em){.gvr-vr__extras{margin-top:120px}}@media (min-width: 46.25em){.gvr-vr__extras{margin-top:150px}}.gvr-vr__extras h2{margin-bottom:12px}.gvr-vr__extras__left{margin-bottom:30px;max-width:540px}@media (min-width: 61.25em){.gvr-vr__extras__left{float:left;min-width:58%}}@media (min-width: 71.25em){.gvr-vr__extras__left{max-width:740px}}.gvr-vr__extras__right li{border:none;width:100%;max-width:none;float:none;margin-bottom:6px}.gvr-vr__extras__right li>a{border:none;margin:0;width:auto;padding:10px 18px 10px 27px;border-radius:999px;background-color:#fff;color:#333;min-height:0;font-size:16px;line-height:1em;position:relative}.gvr-vr__extras__right li>a:before{content:'';display:block;width:8px;height:8px;border-radius:1000px;background:#ccc;position:absolute;left:10px;top:14px}@media (min-width: 61.25em){.gvr-vr__extras__right{float:right;width:300px}}@media (min-width: 71.25em){.gvr-vr__extras__right{float:right;width:300px}}@media (min-width: 81.25em){.gvr-vr__extras__right{width:380px}}.element-atom,.interactive-atom{margin:0 !important;overflow:hidden}button{background:#333;color:#fff;border:none;border-radius:999px;height:36px;outline:none;font-family:'Guardian Sans Web';display:inline-block;cursor:pointer;font-size:16px}button:hover{text-decoration:underline}h2{font-size:24px;font-family:"Guardian Egyptian Web", Georgia, serif;line-height:1em}@media (min-width: 46.25em){h2{font-size:30px}}.gvr-strip{overflow-x:hidden}.gvr-strip.gvr-strip--project{position:relative}.gvr-strip.gvr-strip--project .gvr-project--container{min-height:240px;max-height:300px;overflow:hidden;will-change:max-height}.gvr-strip.gvr-strip--project .gvr-vr__extras,.gvr-strip.gvr-strip--project .gvr-vr__trailerbtn,.gvr-strip.gvr-strip--project .gvr-vr__previewbtn,.gvr-strip.gvr-strip--project .gvr-vr__description{display:none}.gvr-strip .gvr-lightbox__container{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.8)}.gvr-strip .gvr-lightbox__container .gvr-lightbox__video{max-width:300px;width:100%;background:#333;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);display:none}.gvr-strip .gvr-lightbox__container .gvr-lightbox__video .gvr-video__container{width:100%;padding-bottom:56.25%}.gvr-strip .gvr-lightbox__container .gvr-lightbox__video iframe{width:100%;height:100%;position:absolute;top:0;left:0}@media (min-width: 46.25em){.gvr-strip .gvr-lightbox__container .gvr-lightbox__video{max-width:480px}}@media (min-width: 61.25em){.gvr-strip .gvr-lightbox__container .gvr-lightbox__video{max-width:620px}}@media (min-width: 71.25em){.gvr-strip .gvr-lightbox__container .gvr-lightbox__video{max-width:780px}}@media (min-width: 81.25em){.gvr-strip .gvr-lightbox__container .gvr-lightbox__video{max-width:940px}}.gvr-strip .gvr-lightbox__container .gvr-lightbox__close{width:40px;height:40px;background:#ccc;border-radius:20px;position:absolute;top:-50px;right:0;cursor:pointer;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/icon_cross.svg");background-size:50%;background-position:center center;background-repeat:no-repeat}@media (min-width: 620px){.gvr-strip .gvr-lightbox__container{position:absolute}.gvr-strip .gvr-lightbox__container .gvr-lightbox__close{top:0;right:-50px}}.gvr-strip:not(.gvr-strip--trailerplaying) .gvr-lightbox__container{animation:hideTrailer 200ms linear;visibility:hidden;opacity:0}.gvr-strip.gvr-strip--trailerplaying .gvr-lightbox__container{visibility:visible;opacity:1;animation:revealTrailer 200ms linear}.gvr-strip.gvr-strip--trailerplaying .gvr-lightbox__container .gvr-lightbox__video{display:block}@keyframes revealTrailer{0%{display:block;opacity:0}100%{opacity:1}}@keyframes hideTrailer{0%{visibility:visible;opacity:1}99%{visibility:visible;opacity:0}100%{visibility:hidden}}.gvr-strip.gvr-strip--how{background-color:#44c5e0}@media (min-width: 61.25em){.gvr-strip.gvr-strip--how{overflow:visible}}.gvr-strip.gvr-strip--6x9{background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/project_6x9.jpg");background-size:cover;background-position:top center;position:relative}.gvr-strip.gvr-strip--6x9:before{position:absolute;content:'';display:block;top:0;bottom:0;left:0;right:0;background:rgba(255,255,255,0.5)}.gvr-strip.gvr-strip--6x9 .gvr-vr__extras__right li>a{background:#333;color:#fff}.gvr-strip.gvr-strip--underworld{color:white;background-color:#333;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/project_underworld.jpg");background-size:cover;background-position:top center;position:relative}.gvr-strip.gvr-strip--underworld .gvr-vr__expandbtn{background-color:#fff;color:#333;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/icon_plus-black.svg")}.gvr-strip.gvr-strip--underworld .gvr-content::before,.gvr-strip.gvr-strip--underworld .gvr-content::after{background-color:rgba(255,255,255,0.1)}.gvr-strip.gvr-strip--first-impressions{color:white;background-color:#333;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/first_impressions_02.jpg");background-size:cover;background-position:top center;position:relative}.gvr-strip.gvr-strip--first-impressions .gvr-vr__expandbtn{background-color:#fff;color:#333;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/icon_plus-black.svg")}.gvr-strip.gvr-strip--first-impressions .gvr-content::before,.gvr-strip.gvr-strip--first-impressions .gvr-content::after{background-color:rgba(255,255,255,0.1)}.gvr-strip.gvr-strip--arctic{color:white;background-color:#333;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/arctic_03.jpg");background-size:cover;background-position:top center;position:relative}.gvr-strip.gvr-strip--arctic .gvr-vr__expandbtn{background-color:#fff;color:#333;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/icon_plus-black.svg")}.gvr-strip.gvr-strip--arctic .gvr-content::before,.gvr-strip.gvr-strip--arctic .gvr-content::after{background-color:rgba(255,255,255,0.1)}.gvr-strip.gvr-strip--about{color:white;background-color:#b81b66;background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/headset_face.png");background-size:80% auto;background-position:left bottom;background-repeat:no-repeat}.gvr-strip.gvr-strip--about h2{margin:0}@media (min-width: 61.25em){.gvr-strip.gvr-strip--about{background-size:auto 70%}}.gvr-strip.gvr-strip--about h3{font-size:21px;font-family:"Guardian Egyptian Web", Georgia, serif;line-height:24px;font-weight:bold;margin-top:30px;margin-bottom:9px}.gvr-strip.gvr-strip--project.gvr-strip--active .gvr-vr__expandbtn{display:none}.gvr-strip.gvr-strip--project.gvr-strip--active .gvr-vr__extras,.gvr-strip.gvr-strip--project.gvr-strip--active .gvr-vr__description{display:block}.gvr-strip.gvr-strip--project.gvr-strip--active .gvr-vr__trailerbtn,.gvr-strip.gvr-strip--project.gvr-strip--active .gvr-vr__previewbtn{display:inline-block}.gvr-strip.gvr-strip--project.gvr-strip--active .gvr-project--container{max-height:none}@keyframes stripExpand{0%{max-height:300px}60%{max-height:800px}}@keyframes stripShrink{0%{max-height:800px}60%{max-height:300px}}@keyframes stripHide{0%{display:block;opacity:1}30%{opacity:1}80%{opacity:0;display:none}}@keyframes stripReveal{0%{display:block;opacity:0}30%{opacity:0}80%{opacity:1}}@keyframes stripRevealButtons{0%{display:inline-block;opacity:0}30%{opacity:0}80%{opacity:1}}.gvr-cf::after{content:"";display:block;clear:both}.gvr-big{font-family:'Guardian Sans Web';font-weight:200;line-height:39px;font-size:36px;margin:0}@media (min-width: 46.25em){.gvr-big{font-size:42px;line-height:48px}}.gvr-content,.gvr-header__inner{position:relative;margin:0 auto;box-sizing:border-box;padding:12px 10px}@media (min-width: 30em){.gvr-content,.gvr-header__inner{padding:18px 20px}}@media (min-width: 46.25em){.gvr-content,.gvr-header__inner{max-width:740px}}@media (min-width: 61.25em){.gvr-content,.gvr-header__inner{max-width:980px}}@media (min-width: 71.25em){.gvr-content,.gvr-header__inner{max-width:1140px}}@media (min-width: 81.25em){.gvr-content,.gvr-header__inner{max-width:1300px}}.gvr-header__background{background-image:url("https://interactive.guim.co.uk/atoms/2016/11/guardian-vr/v/1491840470558/assets/video_poster.jpg");background-repeat:no-repeat;background-size:cover;background-position:50% 50%}.gvr-header__background video{display:none}@media (min-width: 46.25em){.gvr-header__background video{display:block}}.gvr-content::before,.gvr-content::after{content:"";position:absolute;top:0;bottom:0;width:2000px;background-color:rgba(255,255,255,0.2)}.gvr-content::before{right:100%}.gvr-content::after{left:100%}.gvr-how{padding-bottom:30px;color:#3F2961;font-family:'Guardian Sans Web'}@media (min-width: 46.25em){.gvr-how{padding-bottom:48px}}@media (min-width: 61.25em){.gvr-how .gvr-big{margin-right:300px}}@media (min-width: 71.25em){.gvr-how{padding-bottom:36px}}.gvr-how__img{position:absolute;bottom:0;right:0;width:180px;opacity:0.4}@media (min-width: 46.25em){.gvr-how__img{width:200px;right:20px}}@media (min-width: 61.25em){.gvr-how__img{width:280px;right:20px;opacity:1}}.faq-container{overflow:hidden}@media (min-width: 46.25em){.faq-container{margin-top:60px}}.faq-container a{color:inherit;text-decoration:underline}.gvr-reading,.gvr-cols{list-style:none;margin:0;padding:0}.gvr-reading::after,.gvr-cols::after{content:"";display:block;clear:both}@media (min-width: 46.25em){.gvr-reading,.gvr-cols{margin-right:-20px}}@media (min-width: 46.25em){.gvr-cols{float:left;width:50%;margin-right:0}}.gvr-cols__item{margin-top:24px}@media (min-width: 46.25em){.gvr-cols__item{padding-right:20px}.gvr-cols__item:first-child{margin-top:0}.gvr-cols__item:first-child h3{margin-top:0}}@media (min-width: 71.25em){.gvr-cols__item p{font-size:18px}}.gvr-reading{font-family:'Guardian Sans Web';font-size:15px}.gvr-reading__item{line-height:1em}.gvr-reading__item>a{border-top:1px solid;padding-top:3px;margin-bottom:18px;color:inherit;display:inline-block;text-decoration:none;width:100%}.gvr-reading__item>a:hover{text-decoration:underline}@media (min-width: 46.25em){.gvr-reading__item{width:33.33333%;max-width:240px;box-sizing:border-box;padding-right:20px;float:left}.gvr-reading__item>a{min-height:48px}}@media (min-width: 71.25em){.gvr-reading__item{font-size:18px;line-height:21px}.gvr-reading__item>a{margin-bottom:24px}}@media (min-width: 61.25em){.gvr-about{padding-left:260px}}

//Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
// @import "fullscreen";

body{
	background-color:#FFF !important;
}


.element-atom,
.interactive-atom {
    margin: 0 !important;
    background-color:#FFF !important;
}


.gv-graphic__wrapper {

    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.gv-graphic__item{
	width: 100%;
	margin:0;
	background-color: #FFF;

}

.gv-graphic__item:nth-child(even) {
   background-color: rgba($neutral-2, 0.075);
}


.gv-text-holder{
	padding: 0 6px;
} 





.gv-graphic___header{
	@include fs-header(2);
	font-weight: 600;
}

.gv-graphic___subheader{
	@include fs-headline(2);
	color:$neutral-3;
	margin-bottom: gs-height(1);
	font-weight: 200;
}

.gv-pub-title{
	@include fs-textSans(3);
	font-weight:600;
	line-height:18px;
	//@include fs-header(1);
	color: $neutral-1;
}

.gv-headline-text{
	width:calc(100% - 20px);
	padding-bottom: 18px;
    margin-bottom: 1px;
    @include fs-textSans(3);
    line-height:18px;
	a {
		
		color: $neutral-2;
		text-decoration:none;
	}

	a:hover {
	
		text-decoration:underline;
	}
}

.gv-big-number {
    @include f-sans;
    font-weight: 200;
    line-height: 45px;
    font-size: 45px;
    margin:0;
    color: $accent-color;
    @include mq(tablet) {
        font-size: 96px;
        line-height:96px;
    }

    letter-spacing: 1px;
}

.gv-big-number-in-bar{
	padding:3px;
	@include f-sans;
    font-weight: 200;
    line-height: 64px;
    font-size: 30px;
    margin:0;
    color: #FFF;
}

.gv-graphic__chart{
	position:relative;
	width:calc(100%-$gs-gutter);

	height:auto;
	margin:0 0 3px;
}

.gv-graphic__chart-bar{
	display:block;
	width:30%;
	background-color: $bar-one;
	height: $gs-baseline/2;

		&.pub{
			background-color: $bar-two;
		}
		&.total{
		 	width:100%;
		}
}

.aav{
	color: $aav-color;
	background-color:$aav-color;
	fill:$aav-color;
}

.bbc{
	color: $bbc-color;
	background-color:$bbc-color;
	fill:$bbc-color;
}

.gu{
	color: $gu-color;
	background-color:$gu-color;
	fill:$gu-color;
}

.indy{
	color: $indy-color;
	background-color:$indy-color;
	fill:$indy-color;
}


.no-bg-color{
		background-color: #FFF !important;
	}

.cta-button-holder {

    background-color: $neutral-3;
    border-radius: 999px;
    cursor: pointer;
    margin: $gs-baseline 0 0;
    width:170px;

    @include mq(tablet){
        bottom:36px;
        left: 20px;
    }
    .cta-button {
        display: inline-block;
        width: auto;
        height: 18px;
        padding: 12px 36px 12px 18px;
        color: #FFF;
        font-family: "Guardian Text Sans Web", Helvetica, Arial, sans-serif;
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
    }
    .inline-arrow-white-right {
        display: block;
        float: right;
        height: 6px;
        padding: 6px 9px 0 0;
        fill: #FFF;
        
    }
 
}

.gv-graphic__hidden{
	display:none;
}

.no-height{
	display:none;
}



.logo-holder{
	display:block;
	width:100%;
	margin-top:gs-height(1) + $gs-baseline;

	.logo-section{
		@include fs-textSans(3);
		color:$neutral-3;
		display: inline-block;
		float:left;
	}

	.logo-image{
		padding-left:10px;
		opacity:0.6;
	}

}
